body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 70%;
}

nav ul, footer ul {
    background-color: royalblue;
    font-family:'Helvetica';
    padding: 10px;
    list-style: none;
    font-weight: bold;
}
nav ul {
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
}
footer ul {
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 50px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* a corresponds to links, with a:hover being the decorator when you mouse-over it */
/* a1 and a2 are the fixed links in the navigation bar and footer. */
a {
    text-decoration: none;
    color:slateblue;
}
a:hover {
    text-decoration: underline;
}
a1 {
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
a1:hover {
    background-color: cornflowerblue;
    transition: 0.3s;
}
a1:active {
    background-color: rgb(100, 164, 237);
    transition: 0.0s;
}


/* h1 is the main header for the home page */
h1 {
    font-size: 3em;
    font-family:'Helvetica';
}

/* p is the paragraph */
/* if I want to change a specific paragraph, or anything else, I can use css #p1 instead of p.
Then, in the html file I must have <p id="p1"> instead of <p>. 
I can do the same with .p1, except I call this with <p class="p1">. I can have multiple classes at once, ie <p class="p1 p2">. 
If I want, I can select all html elements on a page with *. */
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: royalblue;
}

footer {
    /* This border-top makes a horizontal line */
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family:'Helvetica';
    margin: 20px auto 40px; 
    font-size: 1.0em;
    transition: 0.5s;
}
ul.posts:hover {
    padding-left: 50px;
    transition: 0.5s;
}

ul.posts li {
    list-style: none;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.photo img {
    animation: spin 10s linear infinite;
    border-radius: 100px;
    float: right;
    margin: auto 5px;
    margin-top: -140px;
}
