.header {
  background-image: url("../images/placeholder.png"); 
  background-color: #111;
  border-bottom: 1px solid black;
  font-family:'Ebrima';
  padding: 10px;
  list-style: none;
  font-weight: bold;
  border-radius: 0px 0px 100px 0px;
  padding-bottom: 100px;
  margin-top: -20px;
  margin-bottom: 0px;
  position: relative;
  z-index: 2;
} 

body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 100%;
}

body ul {
  background-color: #eee;
  border-radius: 0px 0px 20px 0px;
  position: relative;
  z-index: 100
}

.container {
  padding-left: 220px;
}

/* Hyperlink style */
a {
text-decoration: none;
color: rgb(34, 38, 161);
}
a:hover {
text-decoration: underline;
}

/* Navigation sidebar style */
.nav {
  background-color: #445;
  background-image: linear-gradient(90deg, #334, #445 5% 95%, #334);
  font-family: 'Ebrima';
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Navigation link style */
.nav a {
  margin-right: 0px;
  display: block;
  padding: 1px 15px 1px 5px;
  text-align: right;
  text-decoration: none;
  color: #ccc;
  transition: 0.2s;
}
.nav a:hover {
  color: cornflowerblue;
  background-color: #334;
}
.nav a:active {
  color: rgb(100, 164, 237);
  transition: 0.0s;
}

#borderLeft {
  border-left: 2px solid black;
  position: absolute;
  top: 0%;
  bottom: 0%;
}

#ruler {
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: 5%;
  right: 5%;
}

/* h1 is the main header */
h1 {
  /*background-image: url("../images/pillars.png");
  background-repeat: no-repeat;*/
  background-image: linear-gradient(135deg, cornflowerblue 0%, slateblue 35%, cornflowerblue 35%, slateblue 100%);
  background-attachment: fixed;
  background-color: slateblue;
  color: white;
  border-radius: 0px 0px 0px 0px;
  margin-top: -110px;
  padding-top: 110px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-left: -60px;
  margin-bottom: 0px; 
  font-size: 3em;
  font-family:'Calibri light';
  position: relative;
  z-index: 1;
}

/* h2 is for the secondary headers */
h2 {
  color: black;
  font-size: 1.2em;
  font-family: 'Bahnschrift';
  margin-left: -40px;
}

/* p is the paragraph */
/* if I want to change a specific paragraph, or anything else, I can use css #p1 instead of p.
Then, in the html file I must have <p id="p1"> instead of <p>. 
I can do the same with .p1, except I call this with <p class="p1">. I can have multiple classes at once, ie <p class="p1 p2">. 
If I want, I can select all html elements on a page with *. */
p {
  font-size: 1.0em;
  line-height: 1.4em;
  color: black;
  margin-left: -40px;
  padding-left: 10px;
}

ul.posts { 
  font-family:'Helvetica';
  margin: 20px auto 40px; 
  font-size: 1.0em;
}
ul.posts li:hover {
  padding-left: 10px;
}

ul.posts li {
  list-style: none;
  transition: 0.5s;
}

/* Animate and insert main photo on the sidebar */
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }

}
.photo img {
  animation: spin 10s linear infinite;
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Footer style */
.footer1 {
  background-image: linear-gradient(135deg, cornflowerblue 0%, slateblue 35%, cornflowerblue 35%, slateblue 100%);
  background-attachment: fixed;
  background-color: slateblue;
  border-radius: 0px 0px 0px 0px;
  margin-left: 160px;
  margin-top: 0px;
  padding-top: 120px;
  margin-bottom: 0px;
}
.footer2 {
  background-color: black;
  padding-bottom: 100px;
  margin-left: 160px;
  margin-top: -100px;
  border-radius: 75px 0px 0px 0px;
}
