.header {
  background-image: url("../images/pillars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #111;
  font-family:'Helvetica';
  padding: 10px;
  list-style: none;
  font-weight: bold;
  border-radius: 0px 0px 0px 0px;
  padding-bottom: 100px;
  margin-top: -20px;
  margin-bottom: -50px;
  position: relative;
  z-index: -3;
} 

.header1 {
  background-color: #eee;
  border-radius: 20px 20px 0px 0px;
  margin-top: 70px;
  padding-bottom: 60px;
  margin-bottom: -135px;
  margin-left: 160px;
  position: relative;
  z-index: -1;
}

body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 80%;
}

body ul {
  background-color: #eee;
  border-radius: 0px 0px 20px 0px;
  position: relative;
  z-index: 100
}

.container {
  padding-left: 220px;
}

/* Hyperlink style */
a {
text-decoration: none;
color: rgb(34, 38, 161);
}
a:hover {
text-decoration: underline;
}

/* Navigation sidebar style */
.nav {
  background-image: url("../images/pillars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #111;
  font-family: 'Helvetica';
  font-weight: bold;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 10%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Navigation link style */
.nav a {
  margin-right: 15px;
  display: block;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  text-align: right;
  text-decoration: none;
  color: #ccc;
  transition: 0.2s;
}
.nav a:hover {
  color: cornflowerblue;
}
.nav a:active {
  color: rgb(100, 164, 237);
  transition: 0.0s;
}

/* h1 is the main header */
h1 {
  color: white;
  background-color: #333;
  background-image: linear-gradient(90deg, rgb(49, 168, 81) 1%, rgb(25, 69, 166));
  border-radius: 20px 20px 0px 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 20px;
  margin-left: -60px;
  margin-bottom: -50px; 
  font-size: 3em;
  font-family:'Trebuchet MS';
  position: relative;
  z-index: -2;
}

/* h2 is for the secondary headers */
h2 {
  color: black;
  font-size: 1.2em;
  font-family: 'Helvetica';
  margin-left: -40px;
}

/* p is the paragraph */
/* if I want to change a specific paragraph, or anything else, I can use css #p1 instead of p.
Then, in the html file I must have <p id="p1"> instead of <p>. 
I can do the same with .p1, except I call this with <p class="p1">. I can have multiple classes at once, ie <p class="p1 p2">. 
If I want, I can select all html elements on a page with *. */
p {
  font-size: 1.0em;
  line-height: 1.4em;
  color: black;
  margin-left: -40px;
  padding-left: 10px;
}

/* Give the horizontal rulers a bit of pizazz */
hr.hr_nav {
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255,1) 20% 80%, transparent);
  height: 1px;
  border: 0;
}

ul.posts { 
  font-family:'Helvetica';
  margin: 20px auto 40px; 
  font-size: 1.0em;
}
ul.posts li:hover {
  padding-left: 10px;
}

ul.posts li {
  list-style: none;
  transition: 0.5s;
}

/* Animate and insert main photo on the sidebar */
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }

}
.photo img {
  animation: spin 10s linear infinite;
  border-radius: 100px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Footer style */
.footer1{
  background-color: #eee;
  border-radius: 0px 0px 20px 20px;
  margin-top: -50px;
  padding-top: 50px;
  margin-left: 160px;
  position: relative;
  z-index: -1;
}

.footer2 {
  background-image: linear-gradient(90deg, rgb(49, 168, 81) 1%, rgb(25, 69, 166));
  border-radius: 0px 0px 20px 20px;
  margin-left: 160px;
  margin-top: -50px;
  padding-top: 100px;
  margin-bottom: -50px;
  position: relative;
  z-index: -2;
}

.footer3 {
  background-color: #111;
  font-family:'Helvetica';
  padding: 10px;
  list-style: none;
  font-weight: bold;
  border-radius: 0px 0px 20px 0px;
  margin-left: 150px;
  padding-bottom: 500px;
  /* This border-top makes a horizontal line */
  background-image: url("../images/pillars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: .8em;
  position: relative;
  z-index: -3;
}
