<!DOCTYPE html>
	<html>
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <div class="nav">
			<ul>
				<div class="photo">
                                        <img src="pickleav.png" alt="My photo" style="float:left;width:150px;height:150px;">
                                </div>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/cv">CV</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/publications">Publications</a></li>
                                <li><a href="mailto:m.orkney@tiscali.co.uk">email</a></li>
                                <li><a href="https://github.com/morkney">github.com/morkney</a></li>
                        </ul>
                        </div>
                        <title>{{ page.title }}</title>
		</head>
		<body>
                        <header>
				<ul>
				</ul>
                        </header>

	    		</ul>
			</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
		    		<ul>
				</ul>
			</footer>
		</body>
	</html>
