<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<script src="js/chrome_bug_fix.js"></script> <!-- Fix Chrome transition bug! -->

<body>
<ul>

<div class='header'>
</div>
<div class='header1'>
</div>

<div class="nav">
  <div class="photo">
    <img src="../../../../images/pickleav.png" alt="My photo" style="width:170px;height:170px;">
  </div>
  <div id="borderLeft"></div>
  <div id="ruler"></div>
    <li><a href="/">Home</a></li>
    <li><a href="/cv">CV</a></li>
    <li><a href="/timeline">Timeline</a></li>
    <li><a href="/publications">Publications</a></li>
  <div id="ruler"></div>
    <li><a href="mailto:m.orkney@tiscali.co.uk">email</a></li>
    <li><a href="https://github.com/morkney">github.com/morkney</a></li>
  <div id="ruler"></div>
</div>

<div class="container">
  {{ content }}
</div><!-- /.container -->

<div class='footer1'>
</div>
<div class='footer2'>
</div>
<div class='footer3'>
</div>

</ul>
</body>

</html> 

