<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a1 href="/">Home</a1></li>
		        	<li><a1 href="/about">About</a1></li>
	        		<li><a1 href="/cv">CV</a1></li>
	        		<li><a1 href="/blog">Blog</a1></li>
				<li><a1 href="/publications">Publications</a1></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a1 href="mailto:m.orkney@tiscali.co.uk">email</a1></li>
	        		<li><a1 href="https://github.com/morkney">github.com/morkney</a1></li>
				</ul>
			</footer>
		</body>
	</html>
